black
flake8
hydra-core >= 1.2.0
hydra-optuna-sweeper
kunai @ git+https://github.com/mjun0812/kunai
matplotlib
natsort
numpy
opencv-python
optuna
Pillow
pandas
python-dotenv
requests
scikit-learn
tabulate
tensorboard
timm
tqdm
clearml
mlflow
torchinfo >= 1.7.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cu116
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.14.0+cu116
